
        body {
            margin: 0;
            font-family: sans-serif;
            background-color: #222; 
        }

        nav .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #00ABBE;
            padding: 20px 30px;
        }

        nav ul {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
        }

        nav li {
            padding: 0 25px;
        }

        nav a {
            color: black;
            text-decoration: none;
            font-size: 24px;
            transition: color 0.3s ease;
        }

        nav a:hover {
            color: white;
        }
        
        nav .download {
            background: linear-gradient(to right, #A10000, #00178C);
            width: 205px;
            height: 50px;
            border-radius: 90px;
            font-size: 28px;
            color: white;
            border: none;
            cursor: pointer;
            transition: opacity 0.3s ease;
        }

        nav .download:hover {
            opacity: 0.9;
        }
        
  
        .slider-wrapper {
            position: relative;
            width: 90%;
            max-width: 500px;
            margin: 50px auto 0; /* Отступ сверху 50px, авто по бокам для центрирования */
        }

        .slider-viewport {
            width: 100%;
            overflow: hidden;
            border-radius: 15px;
        }

        .slider-track {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }

        .slide {
            flex: 0 0 100%;
            box-sizing: border-box;
        }

        .slide img {
            display: block;
            width: 100%;
            height: 80vh;
            border-radius: 50px;
            object-fit: contain;
        }

        .img {
            border-radius: 100px;
        }

        .nav-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(255, 255, 255, 0.7);
            border: none;
            border-radius: 50%;
            width: 45px;
            height: 45px;
            font-size: 24px;
            cursor: pointer;
            z-index: 10;
        }
        
        #prevBtn {
            left: 10px;
        }

        #nextBtn {
            right: 10px;
        }
