body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f6ff;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    background-color: #00ABBE;
    justify-content: space-between;   
    padding-top: 20px;
}

ul {
    display: flex;
    margin: 0;
}

li {
    display: flex;
    padding: 20px 35px;
}

a {
    color: black;
    text-decoration: none;
    font-size: 28px;
}

.download {
    background: linear-gradient(to right, #A10000, #00178C);
    width: 205px;
    height: 50px;
    border-radius: 90px;
    font-size: 35px;
    color: white;
}

